html{                               
    font-size: 62.5%;            
    }                         

body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

div{
    align-self: center;
    background-color: white;
    border-radius: 2em;
    box-shadow: 5px 5px 7px lightgray;
    display: flex;
    padding: 1.3em;
    flex-direction: column;
    margin-top: 5em;
    width: 300px;
}

img{
    width: 100%;
    align-self: center;
    border-radius: 2em;
}

h1{
    color:hsl(218, 44%, 22%);
    text-align: center;
    margin-top: 1.2em;
   
    font-size: 2.2em;
}

p{
color: hsl(220, 15%, 55%);
text-align: center;
font-size: 1.5em;
margin-bottom: 2em;
}